.idea
*.iml
out
gen
.venv
/data/.env
*.session
*.db
диаграмма.drawio
__pycache__
/data/database.db
data/database.db
log.logging
#/data/pdf/*.pdf
/data/pdf/*.docx
/data/pdf/*.txt
/data/pdf/*.doc
test.py