[Unit]
Description=Telegram Bot
After=syslog.target
After=network.target
[Service]
Type=simple
User=root
WorkingDirectory=/projects/resume_assistant
ExecStart=/projects/resume_assistant/venv/bin/python3 /projects/resume_assistant/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
